body {
	margin: 0;
	padding: 0;
	height: 100vh;
	background-color: rgb(6, 6, 71);
	font-family: 'Quantico', sans-serif;
	color: white;
}

.main-container {
	text-align: center;
	letter-spacing: 4px;
}

/* ---------------------------------------------------------- */

.s1-container {
	font-size: 5em;
}

/* ---------------------------------------------------------- */

.section2 {
	width: 50vw;
	margin: 0 auto;
}

.s2-container {
	display: flex;
	justify-content: space-evenly;
	align-items: center;
}

.s2-container span {
	font-size: 2em;
}

.s2-imgContainer {
	width: 4vw;
	height: 4vh;
	margin: 1em auto 2em;
}

.s2-imgContainer img {
	width: 100%;
	visibility: hidden;
}

/* ---------------------------------------------------------- */

.section3 {
	height: 2em;
	margin: -1em auto 2em;
}

/* ---------------------------------------------------------- */

.s4-container {
	display: flex;
	justify-content: space-evenly;
	align-items: flex-end;
}

.s4-container div {
	width: 12vw;
}

.s4-container div img {
	width: 100%;
	transition: 0.4s;
}

.s4-container div img:hover {
	cursor: pointer;
	box-shadow: 0 0 5em black;
}

/* ---------------------------------------------------------- */

@media (max-width: 1100px) {
	.s1-container {
		font-size: 4em;
	}
	.s2-imgContainer {
		width: 5vw;
		height: 5vh;
	}
	.section3 {
		height: 2em;
		margin: -1em auto 4em;
	}
}

@media (max-width: 900px) {
	.s1-container {
		font-size: 3em;
		padding-bottom: 1em;
	}
	.s2-imgContainer {
		width: 6vw;
		height: 6vh;
	}
}

@media (max-width: 700px) {
	.s1-container {
		font-size: 2em;
		padding-bottom: 2em;
	}
	.s2-imgContainer {
		width: 8vw;
		height: 8vh;
	}
	.section3 {
		height: 2em;
		margin: -1em auto 6em;
	}
}
